body{
    background-color: black;
}

.navbar{
    background-color: darkslategrey;
}

li a{
    color: aliceblue !important;
    font-size:20px;
}

li a:hover{
    color: rgb(34, 41, 48) !important;
    background-color: rgb(125, 148, 148);
}

div a{
    color: aliceblue !important;
}

.navbar-toggler{
    background-color: rgb(67, 102, 102);
}
