body{
    background-color: black;
}

.navbar{
    background-color: darkslategrey;
}


li a:hover{
    color: rgb(34, 41, 48) !important;
    background-color: rgb(125, 148, 148);
}

div a{
    color: rgb(255, 255, 255) !important;
}

.navbar-toggler{
    background-color: rgb(67, 102, 102);
}


.card{
    background-color: rgb(255, 255, 255);
    display:table;
    height:700px;
    margin:3px;
}

.profile-img{
    width:100%;

     /* 置中 */
     display:table-cell;
     margin-left:auto;
     margin-right:auto;
     width:83%;

     vertical-align:middle;
 
}
